<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1e8d531f-6b28-4316-a480-6399f004c9d1/resourceGroups/ss_group/providers/Microsoft.Web/sites/sso</ResourceId>
    <ResourceGroup>ss_group</ResourceGroup>
    <ApiResourceId>/subscriptions/1e8d531f-6b28-4316-a480-6399f004c9d1/resourceGroups/ss_group/providers/Microsoft.ApiManagement/service/SingleSignOnapi/apis/SingleSignOn</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sso-b3fkfeb7f9d5hwen.indonesiacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>ab5f7292-673d-4416-a0f4-29b631aa6648</ProjectGuid>
    <MSDeployServiceURL>sso-b3fkfeb7f9d5hwen.scm.indonesiacentral-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sso</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>